<body>
	 <!--=======================================TOP NAV=================================================-->
    <div class="top-nav">
         <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="index.html">Home</a></li>                  
                  <li><a href="company.html">Features</a></li>
                  <li><a href="gallery.html">Most Popular</a></li>                  
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                  {{> logedIn}}
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
    </div>
    <!--================================================================================================-->
    
     <!--========================================LOGO AND AD=================================================-->
	<div class="container header clearfix">
    	<div class="logo pull-left">
        	<a href="index.html">
        	<img src="images/logo_03.png"  alt="logo image"/>
            </a>
        </div>
        <div class="header-ad pull-right">
        	<img src="http://placehold.it/470x60" alt="header ad" />
        </div>
   </div>
	 <!--================================================================================================-->
     
     <!--=========================================MAIN NAV===============================================-->
	 <div class="main-nav">
         <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Globle News </a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Sports</a></li>
                  <li><a href="#">Political </a></li>
                  <li><a href="#">Health  </a></li>
                  <li><a href="#">Education</a></li>
                  <li><a href="#">Reviews</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
    </div>
    
    
    <!--================================================================================================-->
    <!--========================================MAIN CONTAINER============================================-->
    <!--================================================================================================-->
    <div class="container">
   
   
    <!--=========================================NEWS TICKER=========================================-->
          <div class="news-ticker">               
            <ul id="webticker" >	
                <li id='item1'>
                    My First News Item
                </li>
                <li id='item2'>
                    My Second News Item
                </li>
                <li id='item3'>
                    My Third News Item
                </li>
                <li id='item4'>
                    My Fourth News Item
                </li>
                <li id='item5'>
                    My Fifth News Item
                </li>
                <li id='item6'>
                    My Sixth News Item
                </li>
                <li id='item7'>
                    My Seventh News Item
                </li>
                <li id='item8'>
                    My Eighth News Item
                </li>
                <li id='item9'>
                    My Ninth News Item
                </li>
                <li id='item10'>
                    My Tenth News Item
                </li>
		</ul>                             
          </div>    
                     
                     
    <!--================================================================================================-->
    
   	 <!--========================================SEARCH BAR================================================-->
          <div class="search-bar clearfix">
          	<p class="admin-ststus pull-left">Thursday, September 19, 2013 - Last Update: 4:58 AM ET (08:58 GMT)</p>             <form class="form-inline pull-right" action="index.html" method="post" role="form">
                  
                  <input type="text" class="form-control" placeholder="Search..." />
                  <input type="submit" class="submit" value="" />
                  
             </form>
  
                          
          </div>    
                     
                     
     <!--================================================================================================-->
    
    
    	<div class="row sidebars clearfix"> <!--two sidebar's container start-->
    		 <!--==================================LEFT SIDEBAR==================================================-->
		
			<div class="span8 left-sidebar">
            	<div class="clearfix slider-main"> 
                <div class="pix_diapo">

                    <div>
                        <img src="images/blank-img/img1.jpg" alt="slider image" />
                        <div class="caption elemHover fromLeft">
                            This is a simple sliding image with caption. You can have more than one caption and decide the layout of the caption via css.
                            This is a simple sliding image with caption. You can have more than one caption and decide the layout of the caption via css.
                        </div>
                    </div>
                    
                    <div>
                       <img src="images/blank-img/img1.jpg" alt="slider image" />
                       
                        <div class="caption elemHover fromLeft">
                           Here you can see two captions.
                            The first are loaded immediately before than the second one
                        </div>
                    </div>
                    
                    <div>
                        <img src="images/blank-img/img1.jpg" alt="slider image" />
                       
                       <div class="caption elemHover fromRight">
                            This is a simple sliding image with caption. You can have more than one caption and decide the layout of the caption via css.
                            This is a simple sliding image with caption. You can have more than one caption and decide the layout of the caption via css.
                        </div>
                    </div>
                    
                    <div>
                        <img src="images/blank-img/img1.jpg" alt="slider image" />
                       
                       <div class="caption elemHover fromRight">
                            This is a simple sliding image with caption. You can have more than one caption and decide the layout of the caption via css.
                            This is a simple sliding image with caption. You can have more than one caption and decide the layout of the caption via css.
                        </div>
                    </div>
                    
               </div><!-- #pix_diapo -->
                
        	  </div>
              
              <div class="hr"></div> 
              
              <div class="latest-news clearfix">
              	<h2 class="title">Latest News</h2>
                <div class="clr"></div>
              	<div class="span4 left-row">
                
                
                	<div class="post">
                    	<div class="post-image">
                    	<img src="images/blank-img/latestnews1.jpg" alt="post image" />
                        <div class="type-icon">
                                    		<div class="type-photo"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                        </div>
                        <div class="post-detail">
                        	<h3 class="post-title"><a href="#">Lorem quis bibendum...</a></h3>
                            <span class="dates">21 Jan, 2013 / New York</span>
                            <p class="post-description">Voluptatem accusantium doloremque laudantium totamo
rem aperiam, eaque ipsa quae ab illo inventore veritatis et
quasi architecto beatae vitae dicta sunt explicabo...  </p>
							<div class="read-more">
                            	<a href="detail.html">Read More</a>
                            </div>
                            <div class="sign-up"></div> 
                        </div>
                    </div>
                    
                    
                    <div class="post">
                    	<div class="post-image">
                    	<img src="images/blank-img/latestnews1.jpg" alt="post image" />
                        <div class="type-icon">
                                    		<div class="type-photo"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                        </div>
                        <div class="post-detail">
                        	<h3 class="post-title"><a href="#">Lorem quis bibendum...</a></h3>
                            <span class="dates">21 Jan, 2013 / New York</span>
                            <p class="post-description">Voluptatem accusantium doloremque laudantium totamo
rem aperiam, eaque ipsa quae ab illo inventore veritatis et
quasi architecto beatae vitae dicta sunt explicabo...  </p>
							<div class="read-more">
                            	<a href="detail.html">Read More</a>
                            </div>
                            <div class="sign-up"></div> 
                        </div>
                    </div>
                    
                
                </div>
                <div class="span4 right-row">
                	
               
               
                        <div class="post">                            
                            <div class="post-detail">
                                <h3 class="post-title"><a href="#">Lorem quis bibendum...</a></h3>
                                <span class="dates">21 Jan, 2013 / New York</span>
                                <p class="post-description">Voluptatem accusantium doloremque laudantium totamo
    rem aperiam, eaque ipsa quae ab illo inventore veritatis et
    quasi architecto beatae vitae dicta sunt explicabo...  </p>
                                <div class="read-more">
                                    <a href="detail.html">Read More</a>
                                </div>   
                                <div class="sign-down"></div>                              
                            </div>
                            <div class="post-image">
                                	<img src="images/blank-img/latestnews1.jpg" alt="post image" />
                                    <div class="type-icon">
                                    		<div class="type-video"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                            </div>
                        </div>
                        
                        
                        <div class="post">                            
                            <div class="post-detail">
                                <h3 class="post-title"><a href="#">Lorem quis bibendum...</a></h3>
                                <span class="dates">21 Jan, 2013 / New York</span>
                                <p class="post-description">Voluptatem accusantium doloremque laudantium totamo
    rem aperiam, eaque ipsa quae ab illo inventore veritatis et
    quasi architecto beatae vitae dicta sunt explicabo...  </p>
                                <div class="read-more">
                                    <a href="detail.html">Read More</a>
                                </div>
                                <div class="sign-down"></div>                                
                            </div>
                            <div class="post-image">
                                	<img src="images/blank-img/latestnews1.jpg" alt="post image" />
                                    <div class="type-icon">
                                    		<div class="type-photo"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                            </div>
                        </div>
                    
                    
                    
                </div>  
                
              
              </div>              
              	
              
             <div class="relted-posts br clearfix">
                    <h2 class="title">Related News</h2>
        			<div class="controls pull-right">
                        <button disabled="disabled" class="btn prev disabled">
                        <i class="icon-left"></i> 
                        </button>
                        <button class="btn next">
                        <i class="icon-right"></i>
                        </button>
                    </div>
                    <div class="frame oneperframe" id="oneperframe">
                        <ul class="clearfix">
                            <li class="active clearfix">
                            
                            	<div class="pull-left rel-post">
                                    <div class="post-image">
                                        <img src="images/blank-img/related1.jpg" alt="post image" />
                                        <div class="type-icon">
                                    		<div class="type-photo"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                                    </div>
                                     <h3 class="post-title"><a href="gallery.html">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">
                                    <div class="post-image">
                                        <img src="images/blank-img/related1.jpg" alt="post image" />
                                        <div class="type-icon">
                                    		<div class="type-photo"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                                    </div>
                                     <h3 class="post-title"><a href="gallery.html">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">
                                    <div class="post-image">
                                        <img src="images/blank-img/related1.jpg" alt="post image" />
                                        <div class="type-icon">
                                    		<div class="type-photo"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                                    </div>
                                     <h3 class="post-title"><a href="gallery.html">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">
                                    <div class="post-image">
                                        <img src="images/blank-img/related1.jpg" alt="post image" />
                                        <div class="type-icon">
                                    		<div class="type-video"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                                    </div>
                                     <h3 class="post-title"><a href="gallery.html">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                            </li>
                            <li class="clearfix">
                            
                            	<div class="pull-left rel-post">
                                    <div class="post-image">
                                        <img src="images/blank-img/related1.jpg" alt="post image" />
                                        <div class="type-icon">
                                    		<div class="type-photo"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                                    </div>
                                     <h3 class="post-title"><a href="gallery.html">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">
                                    <div class="post-image">
                                        <img src="images/blank-img/related1.jpg" alt="post image" />
                                        <div class="type-icon">
                                    		<div class="type-photo"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                                    </div>
                                     <h3 class="post-title"><a href="gallery.html">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">
                                    <div class="post-image">
                                        <img src="images/blank-img/related1.jpg" alt="post image" />
                                        <div class="type-icon">
                                    		<div class="type-photo"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                                    </div>
                                     <h3 class="post-title"><a href="gallery.html">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">
                                    <div class="post-image">
                                        <img src="images/blank-img/related1.jpg" alt="post image" />
                                        <div class="type-icon">
                                    		<div class="type-photo"></div>
                                    	</div>
                                    	<div class="stars-img">                                    	
                                            <div class="stars">
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon fulli">☆</span>
                                               <span class="star-icon">☆</span>
                                               <span class="star-icon">☆</span>
                                           </div>
                                   	   </div>
                                    </div>
                                     <h3 class="post-title"><a href="gallery.html">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                            
                            
                            
                            
                            </li>                            
                        </ul>
                    </div>
        
                    
				</div>
                
                <div class="hr"></div>
                
                <div class="other-stories">
                 <h2 class="title">Other Stories</h2>
                	<ul>
                    <li class="clearfix">
                            
                            	<div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>                        
                            
                            </li>    
                            
                            <li class="clearfix">
                            
                            	<div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>                        
                            
                            </li>    
                            
                            <li class="clearfix">
                            
                            	<div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>
                                
                                <div class="pull-left rel-post">                                    
                                     <h3 class="post-title"><a href="#">New car just...</a></h3>
                                    <span class="dates">December 21, 2013</span>
                                    <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                                </div>                        
                            
                            </li>                            
                        </ul>
                
                </div>
                
                <div class="hr"></div>
                
                <div class="all-categories clearfix">
                	<div class="cat-titles span4">
                      <h2 class="title">Sports</h2>
                    	<h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                       		<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <div class="read-more pull-right">
                               <a href="#">More from Sports</a>
                        </div>
                    </div>
                    
                    <div class="cat-titles span4">
                      <h2 class="title">Business</h2>
                    	<h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                       		<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <div class="read-more pull-right">
                               <a href="#">More from Sports</a>
                        </div>
                    </div>
                    
                    <div class="cat-titles span4">
                      <h2 class="title">Tech</h2>
                    	<h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                       		<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <div class="read-more pull-right">
                               <a href="#">More from Sports</a>
                        </div>
                    </div>
                    
                    <div class="cat-titles span4">
                      <h2 class="title">Women</h2>
                    	<h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                       		<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <div class="read-more pull-right">
                               <a href="#">More from Sports</a>
                        </div>
                    </div>
                    
                    <div class="cat-titles span4">
                      <h2 class="title">LifeStyle</h2>
                    	<h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                       		<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <div class="read-more pull-right">
                               <a href="#">More from Sports</a>
                        </div>
                    </div>
                    
                    <div class="cat-titles span4">
                      <h2 class="title">Health &amp; Fitness</h2>
                    	<h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                       		<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <h3 class="post-title">
                        	<a href="#">CLT20: When a champion was born nobody know what he...</a>
                        </h3>
                        <div class="read-more pull-right">
                               <a href="#">More from Sports</a>
                        </div>
                    </div>
                    
                                   
                </div>
                <div class="load-more">
                    	<a href="#">Browse more..</a>
                </div>
                
                <div class="hr"></div>
                
                
               <div class="gallery clearfix">
               
               		<div class="photos span4">
                    <h2 class="title">Photos</h2>
                    	<div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title"><a href="#">CLT20: When a champion was born nobody 
    know what he...</a></h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                <div class="stars pull-right">
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon">☆</span>
                               </div>
                               
                           </div>
                        
                       </div>
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title"><a href="#">CLT20: When a champion was born nobody 
    know what he...</a></h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                <div class="stars pull-right">
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                               </div>
                               
                           </div>
                        
                       </div>
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title"><a href="#">CLT20: When a champion was born nobody 
    know what he...</a></h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                <div class="stars pull-right">
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon">☆</span>
                                   <span class="star-icon">☆</span>
                               </div>
                               
                           </div>
                        
                       </div>
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title"><a href="#">CLT20: When a champion was born nobody 
    know what he...</a></h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                <div class="stars pull-right">
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                               </div>
                               
                           </div>
                        
                       </div>
                    	<div class="read-more pull-right">
                               <a href="#">More from Photos</a>
                        </div>
                   </div>
                    
                    <div class="videos span4">
                    	<h2 class="title">Videos</h2>
                    	<div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title"><a href="#">CLT20: When a champion was born nobody 
    know what he...</a></h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                <div class="stars pull-right">
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon">☆</span>
                               </div>
                               
                           </div>
                        
                       </div>  
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title"><a href="#">CLT20: When a champion was born nobody 
    know what he...</a></h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                <div class="stars pull-right">
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon">☆</span>
                               </div>
                               
                           </div>
                        
                       </div>        
                       
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title"><a href="#">CLT20: When a champion was born nobody 
    know what he...</a></h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                <div class="stars pull-right">
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon">☆</span>
                                   <span class="star-icon">☆</span>
                               </div>
                               
                           </div>
                        
                       </div>        
                       
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title"><a href="#">CLT20: When a champion was born nobody 
    know what he...</a></h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                <div class="stars pull-right">
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon fulli">☆</span>
                                   <span class="star-icon">☆</span>
                                   <span class="star-icon">☆</span>
                                   <span class="star-icon">☆</span>
                               </div>
                               
                           </div>
                        
                       </div> 
                       <div class="read-more pull-right">
                               <a href="#">More from Videos</a>
                       </div>                     
                    
                    </div>
               
               
               </div>
               
               <div class="br"></div>
                
               <div class="ad-bar clearfix">
             		<h3 class="post-title pull-left"><span class="dates">News Time</span> is a News &amp; Magazine PSD Theme you ever buy
Enjoy to purchase now ! </h3>
                    <div class="load-more pull-right">
                    	<a href="#">Browse more..</a>
               		</div>               
               
               </div>
            
            
          </div>
          
          
	 <!--================================================================================================-->
    
    	 <!--=============================================RIGHT BAR==============================================-->
			<div class="span4 right-sidebar">
            	<div class="tabber">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                            <a href="#popular" data-toggle="tab" class="blnone">Popular</a>
                            <div class="flow"></div>
                        </li>
                        <li>
                       	 <a href="#recent" data-toggle="tab">Recent</a>
                        </li>
                        <li>
                       	 <a href="#comment" data-toggle="tab" class="brnone">Comment</a>
                        </li>
                       
                    </ul>
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="popular">
                           
                           
                           <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                       
                       <div class="dhr"></div>  
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                       
                       <div class="dhr"></div>  
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                       
                       <div class="dhr"></div>  
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                       
                      
                           
                        </div>
                        <div class="tab-pane" id="recent">
                            <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                       
                       <div class="dhr"></div>  
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                       
                       <div class="dhr"></div>  
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                       
                       <div class="dhr"></div>  
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                        </div>
                        <div class="tab-pane" id="comment">
                            <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                       
                       <div class="dhr"></div>  
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                       
                       <div class="dhr"></div>  
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                       
                       <div class="dhr"></div>  
                       
                       <div class="photo-single clearfix">
                        	<div class="gal-img pull-left">
                            	<img src="images/blank-img/popular.png" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">Putin’s party has dominationcut
in Russia</h3>
                                
                                <span class="dates">By : John doe</span>
                                
                                
                               
                           </div>
                        
                       </div> 
                        </div>
                       
                    </div>
                </div>
                
                
                <div class="most-viewed clearfix">
                
                	<h2 class="title">Most Videwed</h2>
                    
                    <div class="span4 clearfix">
                    	<div class="single-img pull-left">
                        	<img src="images/blank-img/mostviewed1.jpg" alt="most" />
                        </div>
                        <div class="single-img pull-left">
                        	<img src="images/blank-img/mostviewed1.jpg" alt="most" />
                        </div>
                        <div class="single-img pull-left">
                        	<img src="images/blank-img/mostviewed1.jpg" alt="most" />
                        </div>
                        <div class="single-img pull-left">
                        	<img src="images/blank-img/mostviewed1.jpg" alt="most" />
                        </div>
                        <div class="single-img pull-left">
                        	<img src="images/blank-img/mostviewed1.jpg" alt="most" />
                        </div>
                        <div class="single-img pull-left">
                        	<img src="images/blank-img/mostviewed1.jpg" alt="most" />
                        </div>
                    
                    </div>
                
                </div>
                
                <div class="tweets">
                	<h2 class="title">Latest Tweets</h2>
                    
                   	<div class="single-tweet">
                    	<p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
<a href="#">http://example.com</a>
                        </p>
                        <span class="dates">2 hours ago</span>
                    
                    </div>
                    
                    <div class="single-tweet">
                    	<p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
<a href="#">http://example.com</a>
                        </p>
                        <span class="dates">2 hours ago</span>
                    
                    </div>
                    
                    <div class="single-tweet">
                    	<p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
<a href="#">http://example.com</a>
                        </p>
                        <span class="dates">2 hours ago</span>
                    
                    </div>
                
                </div>
                
                <div class="newsletter clearfix">
                	<h2 class="title">Newsletter</h2>
                    <p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

                        </p>
                	<form class="form-inline" role="form" method="post" action="index.html">
                         
                            <input type="text" class="leter email" id="exampleInputEmail2" placeholder="Full Name" />
                        
                            <input type="text" class="leter" id="exampleInputPassword2" placeholder="Email" />
                          <input type="submit" class="btn-submit" value="Submit" />
                        </form>

                
                </div>
                
                
                <div class="tags clearfix">
                	<h2 class="title clearfix">Tags</h2>
                    <div class="all-tags">
                         <div class="tag pull-left">
                            <a href="#">Design</a>
                        </div> 
                        <div class="tag pull-left">
                            <a href="#">News</a>
                        </div> 
                        <div class="tag pull-left">
                            <a href="#">Time</a>
                        </div> 
                        <div class="tag pull-left">
                            <a href="#">Photoshop</a>
                        </div> 
                        <div class="tag pull-left">
                            <a href="#">Blog</a>
                        </div> 
                        <div class="tag pull-left">
                            <a href="#">Magazine</a>
                        </div> 
                        <div class="tag pull-left">
                            <a href="#">Bright</a>
                        </div> 
                        <div class="tag pull-left">
                            <a href="#">HTML</a>
                        </div>               
                   </div>
                    
                </div>
                
                
                <div class="advertisment clearfix">
                	<h2 class="title">Advertisement</h2>
                    <div class="ads">
                        <div class="small-box span2">
                        	<a href="http://codecanyon.net/item/fb-email-graber-with-aweber-and-getrespons/6285897" target="_blank">
                            <img src="http://placehold.it/170x170" alt="ad" />
                            </a>
                        </div>
                        <div class="small-box span2">
                        	<a href="http://codecanyon.net/item/youtube-video-search/5986577" target="_blank">
                            <img src="http://placehold.it/170x170" alt="ad" />
                            </a>
                        </div>
                        
                         <div class="small-box span2">
                         	<a href="http://codecanyon.net/item/url-scraper/5942825" target="_blank">
                            <img src="http://placehold.it/170x170" alt="ad" />
                            </a>
                        </div>
                        <div class="small-box span2">
                        	<a href="http://codecanyon.net/item/youtube-video-search/5986577" target="_blank">
                            <img src="http://placehold.it/170x170" alt="ad" />
                            </a>
                        </div>
                        
                        <div class="small-box span4">
                        	<a href="http://codecanyon.net/item/fb-email-graber-with-aweber-and-getrespons/6285897" target="_blank">
                            <img src="http://placehold.it/370x300" alt="ad" />
                            </a>
                        </div>
                	</div>
                </div>
            
            </div>
		 
	 <!--================================================================================================-->
	  </div> <!--two sidebar's container end-->
      
      
      

    </div>
    <!--==============================================END MAIN CONTAINER=========================================-->
    
    <footer>
    
    	<div class="footer">
        
        	<div class="container fot-wrap">
            	<div class="span3 colum">
                	<div class="fot-logo">
                    	<img src="images/footer-logo-blue.png" alt="footer logo" />
                    </div>
                    <div class="fot-about">
                    	<p>
                       <span class="dates"> Nam nec tellus</span> a odio tincidunt auctor a ornare
odio. Sed non  mauris vitae erat consequat 
auctor eu in elit. Class aptent taciti sociosqu ad 
litora torquent per conubia nostra mauris vitae erat consequat auctor eu in elit...
                        </p>
                    </div>
                
                </div>
                
                
                <div class="colum span3 clearfix">
                	<h2 class="fot-title">Flicker Widget</h2>
                    <div class="flick-imgs clearfix">
                    	<div class="flick-img pull-left">
                        	<img src="images/blank-img/footer1.jpg" alt="flicker" />
                        </div>
                        
                        <div class="flick-img pull-left">
                        	<img src="images/blank-img/footer1.jpg" alt="flicker" />
                        </div>
                        
                        <div class="flick-img pull-left">
                        	<img src="images/blank-img/footer1.jpg" alt="flicker" />
                        </div>
                      </div>
                      <div class="flick-imgs clearfix">  
                        <div class="flick-img pull-left">
                        	<img src="images/blank-img/footer1.jpg" alt="flicker" />
                        </div>
                        
                        <div class="flick-img pull-left">
                        	<img src="images/blank-img/footer1.jpg" alt="flicker" />
                        </div>
                        
                        <div class="flick-img pull-left">
                        	<img src="images/blank-img/footer1.jpg" alt="flicker" />
                        </div>
                        
                    
                    </div>
                </div>
                
                <div class="colum span3">
                	<h2 class="fot-title">Recent Tweets</h2>
                     <div class="single-tweet">
                    	<p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

                        </p>
                        <span class="dates pull-right">2 hours ago</span>
                    
                    </div>
                    
                    <div class="single-tweet">
                    	<p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

                        </p>
                        <span class="dates pull-right">2 hours ago</span>
                    
                    </div>
                    
                    <div class="single-tweet">
                    	<p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

                        </p>
                        <span class="dates pull-right">2 hours ago</span>
                    
                    </div>
                    
                    
                </div>
                
                <div class="colum fot-contact span3">
                	<h2 class="fot-title">Contact Info &amp; Timing</h2>
                    <div class="location">Office Ad: Salt Lake City, UT 87234</div>
                    <div class="fone">Phone: (871) 321-6567</div>
                    <div class="mail">E-mail: Example@website.com</div>
                    <div class="time">Time: Mon to Fri - 09:00 am to 05:00 pm Sat 09:00 am to 01:00 pm Sunday closed</div>
                    
                
                </div>
            
            </div>
        
        
        
        
        </div>
        
        <div class="bottom">
        	<div class="container">
            	<div class="copyrights pull-left">
                
                	Copyrights 2013 @ <span class="white">NewsTimes</span>
                
                </div>
                
                <div class="pull-right social">
                
                	<h2 class="title">Lets Social:</h2>
                    <div class="s-icon">
            			<a href="#" class="link t" data-original-title='Tumbler'></a>
            		</div>
                    
                    <div class="s-icon">
            			<a href="#" class="link f" data-original-title='Facebook'></a>
            		</div>
                    
                    <div class="s-icon">
            			<a href="#" class="link g" data-original-title='Google Plus'></a>
            		</div>
                    <div class="s-icon">
            			<a href="#" class="link twit" data-original-title='Twitter'></a>
            		</div>
                    
                    <div class="s-icon">
            			<a href="#" class="link vimeo" data-original-title='Vimeo'></a>
            		</div>
                    
                    <div class="s-icon">
            			<a href="#" class="link skype" data-original-title='Skype'></a>
            		</div>
                    
                    <div class="s-icon">
            			<a href="#" class="link lin" data-original-title='LinkedIn'></a>
            		</div>
                    
                    <div class="s-icon">
            			<a href="#" class="link drib" data-original-title='Dribble'></a>
            		</div>
                    
                    
            	</div>
            
            </div>
        
        
        </div>

    
    
    
		<script type="text/javascript" src="js/jquery.webticker.js"></script>		
		<script type='text/javascript' src='js/slider/jquery.easing.1.3.js'></script> 
		<script type='text/javascript' src='js/slider/jquery.hoverIntent.minified.js'></script> 
		<script type='text/javascript' src='js/slider/diapo.js'></script> 
		<script type="text/javascript" src="js/horizental/modernizr.js"></script>
    	<script type="text/javascript" src="js/horizental/plugins.js"></script>
		<script type="text/javascript" src="js/horizental/sly.js"></script>
        <script type="text/javascript" src="js/horizental/horizontal.js"></script>
		<!--[if !IE]><!--><script type='text/javascript' src='js/slider/jquery.mobile-1.0rc2.customized.min.js'></script><!--<![endif]-->
		
            

	</footer>
</body>

